{% extends 'base.html.twig' %}

{% block body %}
    {{ include('home/partials/header.html.twig') }}
    <title>Gestion des Tickets</title>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Gestion des Tickets</h1>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                <h2 class="text-center">Tickets Ouverts</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <th scope="row">{{ ticket.id }}</th>
                                <td>{{ ticket.description }}</td>
                                <td>
                                <span class="badge bg-success">{{ ticket.status }}
                                </span></td>
                                <td>
                                    <a href="{{ path('ticket_in_progress', {'id': ticket.id}) }}" class="btn btn-success btn-sm">Commencer le ticket</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">Aucun ticket en cours</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2 class="text-center">Tickets en cours</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets_progress %}
                            <tr>
                                <th scope="row">{{ ticket.id }}</th>
                                <td>{{ ticket.description }}</td>
                                <td>
                                <span class="badge bg-warning">{{ ticket.status }}
                                </span></td>
                                <td>
                                    <a href="{{ path('stock_list', {'ticketId': ticket.id}) }}" class="btn btn-warning btn-sm">Gestion du Ticket</a>
                                    <a href="{{ path('ticket_delete', {'id': ticket.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Voulez-vous vraiment clôturer ce ticket?')">Clôturer le Ticket</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">Aucun ticket en cours</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header">
                <h2 class="text-center">Historique des Tickets Clôturés</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date de Clôture</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in closed_tickets %}
                            <tr>
                                <th scope="row">{{ ticket.id }}</th>
                                <td>{{ ticket.description }}</td>
                                <td>{{ ticket.dateEnd|date('d/m/Y') }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center">Aucun ticket clôturé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        {% for stock in stocks %}
            {% if stock.quantity < 10 %}
            <div class="alert alert-warning text-center" role="alert">
                <i class="bi bi-exclamation-circle-fill"></i> Attention !! Le stock de {{ stock.label }} est faible. Il reste {{ stock.quantity }} unités.
            </div>
            {% endif %}
            {% endfor %}
    </div>
    {{ include('home/partials/footer.html.twig') }}
{% endblock %}




