{# templates/home/connexion/inscription.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<title>Créer votre compte</title>
<body> 
    <!-- Inclusion de l'en-tête -->
    <!-- Include the header -->
    {{ include('home/partials/header.html.twig') }}
      
    <section id="hero" class="section form">
        <h2 class="form-title">Créer un compte</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <!-- Début du formulaire d'inscription -->
                    <!-- Start of the registration form -->
                    <div class="form-group">
                        {{ form_start(form) }}

                        <!-- Champ email -->
                        <!-- Email field -->
                        {{ form_row(form.email) }}
                    </div>

                    <!-- Champ mot de passe -->
                    <!-- Password field -->
                    {{ form_row(form.Password) }}

                    <!-- Champ rôles -->
                    <!-- Roles field -->
                    {{ form_row(form.Roles) }}

                    <!-- Champ informations de contact -->
                    <!-- Contact information field -->
                    {{ form_row(form.ContactInformation) }}

                    <!-- Bouton d'inscription -->
                    <!-- Registration button -->
                    <div class="d-flex justify-content-center mt-3">
                        <button class="button-form" name="submit" value="submit">S'inscrire</button>
                    </div>

                    {{ form_end(form) }}

                    <!-- Lien vers la page de connexion -->
                    <!-- Link to the login page -->
                    <p class="text-center mt-3">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Inclusion du pied de page -->
    <!-- Include the footer -->
    {{ include('home/partials/footer.html.twig') }}

</body>
{% endblock %}